/* BACKGROUND */

[data-md-color-scheme="slate"] {
    --md-default-bg-color: #0f1724;
}

/* SIDEBAR */

.md-sidebar {
    background-color: #111827 !important;
}

/* TITLES */

.md-typeset h1 {
    color: white !important;

    font-size: 1.7rem;

    font-weight: 700;

    line-height: 1.1;

    margin-bottom: 0.8rem;
}

.md-typeset h2 {
    color: white !important;

    font-size: 1.2rem;

    font-weight: 700;

    border-left: 3px solid #4f8cff;

    padding-left: 8px;

    line-height: 1.2;

    margin-top: 1.5rem;
}

.md-typeset h3 {
    color: white !important;

    font-size: 1rem;

    font-weight: 600;
}

/* CODE BLOCKS */

.highlight pre {
    background: #1a2233 !important;

    border-radius: 12px;

    border: 1px solid rgba(255,255,255,0.06);
}

/* INLINE CODE */

.md-typeset code {
    background-color: rgba(255,255,255,0.08);

    border-radius: 6px;

    padding: 2px 6px;
}