/* BACKGROUND */

[data-md-color-scheme="slate"] {
    --md-default-bg-color: #0f1724;
    --md-default-fg-color: #ffffff;
}

/* MAIN TITLE */

.md-typeset h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

/* SECTION TITLES */

.md-typeset h2 {
    font-size: 2rem;
    font-weight: 700;
    border-left: 4px solid #4f8cff;
    padding-left: 14px;
    color: white;
}

/* CODE BLOCKS */

.md-typeset pre > code {
    background-color: #1a2233 !important;
    border-radius: 14px;
}

/* INLINE CODE */

.md-typeset code {
    border-radius: 6px;
}

/* SIDEBAR */

.md-sidebar {
    background-color: #111827;
}

/* PAGE WIDTH */

.md-grid {
    max-width: 1500px;
}